html, body {
    padding: 0;
    margin: 0;
    /* background-color: #fadadd; */
    width: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


header {
    /* background-color: white; */
    height: 40%;
    width: auto;
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, #35c8b4, #edf7be, #a4cf4a);
}

/* #c2f2e4 */
/* #35c8b4 */
/* #edf7be */
/* #a4cf4a */

nav {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 8vw;
}

.menu {
    /* color: #96db05; */
    color: #718f30;
    /* color: #317067; */
    font-size: 3rem;
}

#menu {
    padding: 15%;
    width: 10%;
}

@import url('https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.restaurant-name {
    /* color: #02c7ac; */
    color: #317067;
    font-family: "Intel One Mono", monospace;
    font-display: swap;
    font-size: 4rem;
}

a {
    text-decoration: none;
}

.active {
  font-weight: bold;
}

.dropdown-text {
    font-family: "cormorant garamond", "playfair display", "libre baskerville", sans-serif;
    color: #103732;
    padding: 0.5rem;
    z-index: 1;
}

a .div {
    z-index: 1;
}

.dropdown {
    height: auto;
    max-height: 20vh;
    /* width: 25%; */
    width: 20%;
}

#dropdown-section {
    height: auto;
    width: 20vw;
    background: linear-gradient(135deg, #35c8b4, #edf7be, #a4cf4a);
    /* background: linear-gradient(135deg, #a4cf4a, #edf7be, #35c8b4); */
    font-size: 1.5rem;
    margin-left: 2vw;
    margin-top: -2vh;
    position: absolute;
    z-index: 10;
    border-radius: 1rem;
    padding-left: 1rem;
    display: none;
}

.main-hr {
    background-color: #a5e0fe;
    border: none;
    height: 2px;
}

.menu-hr {
    border: none;
    height: 2px;
    /* background-color: #abdaf2f7; */
    background-color: #103732;
    margin-bottom: 1rem;
    padding-left: 0;
} 

/* main */

#product-collection {
    width: 100%;
    /* height: 100%; */
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
    padding: 5rem;
    justify-content: space-around;
}

 .products {
    width: 43%;
    height: 110vh;
    /* background-color: #317067; */
    background: linear-gradient(135deg, #35c8b4, #edf7be, #a4cf4a);
    display: block;
    display: flex;
    justify-content: center; 
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10%;
    padding: 3rem;
    border-radius: 10%;
}

.name, .price {
    color: #103732;
    font-size: 2.5rem;
    font-family: "Intel One Mono", monospace;
    font-display: swap;
}

.name {
    padding: 0.6rem;
    font-weight: bold;
}

.price {
    padding: 0.6rem;
    text-align: center;
}

.buy-btn {
    color: #a4cf4a;
    background-color: #103732;
    border: 2px solid #103732;
    font-family: "Intel One Mono", monospace;
    font-display: swap;
    border-radius: 3rem;
    font-size: 3rem;
    padding: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.main-text {
    color: #317067;
    font-family: "Intel One Mono", monospace;
    font-display: swap;
    font-size: 4rem;
    padding: 4rem 4rem 1rem 4rem;
    /* margin-top: 3vh; */
    /* margin-left: 3vw; */
}

.img-container {
    width: 100%;
    height: 50vh;
}

img, video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  /* box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #e48684; */
}

footer {
    /* background: linear-gradient(135deg, #35c8b4, #edf7be, #a4cf4a); */
    background: linear-gradient(135deg, #a4cf4a, #edf7be, #35c8b4);
    height: 40%;
    width: 100%;
    text-align: center;
    font-size: 4rem;
    color: #103732;
}

.footer-text {
    font-family: "Intel One Mono", monospace;
    font-display: swap;
    font-size: 3rem;
    padding: 4.5rem;
}

.footer-link {
    font-family: "Intel One Mono", monospace;
    font-display: swap;
    font-size: 3rem;
}

.footer-link:visited {
    color: #103732;
}


/* for Mobile Phones */

@media (max-width: 460.99px) {

    header {
        width: 100%;
        height: 30%;
        /* background-color: black; */
        box-sizing: border-box;
    }

    nav {
        gap: 0rem;
    }

    .restaurant-name {
        font-size: 1.5rem;
    }

    #dropdown-section {
        height: auto;
        width: 50vw;
    }

    .dropdown-text {
        font-size: 1rem;
    }

    .menu {
        font-size: 1.5rem;
    }

    #dropdown-section {
        margin-top: 0.2vh;
    }

    /* main */


    #product-collection {
        gap: 2rem;
        padding: 2rem;
    }


    .products {
        height: 40vh;
        padding: 1rem;
    }

    .main-text {
        font-size: 1.4rem;
        padding: 2.5rem 2.5rem 1rem 2.5rem;
    }

    .img-container {
        height: 20vh;
    }

    .name, .price {
        font-size: 1rem;
    }

    .name {
        padding: 0.2rem;
        font-weight: bold;
    }

    .price {
        padding: 0.2rem;
        text-align: center;
    }

    .buy-btn {
        font-size: 1rem;
        padding: 0.2rem;
    }

    .footer-text {
        font-size: 1rem;
        padding: 1.5rem;
    }

    .footer-link {
        font-size: 1rem;
    }
}

@media (min-width: 461px) and (max-width: 767.99px) {

    header {
        width: 100%;
        height: 30%;
        /* background-color: black; */
        box-sizing: border-box;
    }

    nav {
        gap: 0rem;
    }

    .restaurant-name {
        font-size: 2.5rem;
    }

    #hero-text, .categories-text {
        font-size: 2rem;
    }

    .about-us {
        font-size: 1.5rem;
        padding: 2rem;
    }

    .veg-div {
        top: 140vh;
        left: 15vw;
    }

    .non-veg-div {
        top: 185vh;
        left: 15vw;
    }

    #hero-div {
        padding: 1rem;
    }

    .categories-div {
        width: 35vw;
        padding: 1rem;
    }

    #dropdown-section {
        height: auto;
        width: 50vw;
    }

    .dropdown-text {
        font-size: 1rem;
    }

    .menu {
        font-size: 2rem;
    }

    #dropdown-section {
        margin-top: 0.2vh;
    }

    /* main */


    #product-collection {
        gap: 2rem;
        padding: 2rem;
    }


    .products {
        height: 60vh;
        padding: 1rem;
    }

    .main-text {
        font-size: 1.4rem;
        padding: 2.5rem 2.5rem 1rem 2.5rem;
    }

    .img-container {
        height: 30vh;
    }

    .name, .price {
        font-size: 1.5rem;
    }

    .name {
        padding: 0.4rem;
        font-weight: bold;
    }

    .price {
        padding: 0.4rem;
        text-align: center;
    }

    .buy-btn {
        font-size: 1.5rem;
        /* padding: 0.2rem; */
    }

    .footer-text {
        font-size: 1rem;
        padding: 1.5rem;
    }

    .footer-link {
        font-size: 1rem;
    }
}


@media (min-width: 768px) and (max-width: 1024.99px) {
    
    header {
        width: 100%;
        height: 30%;
        /* background-color: black; */
        box-sizing: border-box;
    }

    nav {
        gap: 5vw;
    }

    .about-us, .item-text {
        font-size: 2rem;
    }

    .about-heading, .heading {
        font-size: 3rem;
    }

    .restaurant-name {
        font-size: 2.5rem;
    }


    #dropdown-section {
        height: auto;
        width: 50vw;
    }

    .dropdown-text {
        font-size: 1rem;
    }

    .menu {
        font-size: 2rem;
    }

    hr {
        margin-bottom: 0.8rem;
    }

    .main-text {
        font-size: 3rem;
        padding: 3rem 3rem 1rem 3rem;
    }

    #product-collection {
        gap: 3.5rem;
        padding: 3.5rem;
    }

    .products {
        height: 75vh;
        padding: 2rem;
    }

    .img-container {
        height: 40vh;
    }

    .name, .price {
        font-size: 1.5rem;
    }

    .name {
        padding: 0.6rem;
        font-weight: bold;
    }

    .price {
        padding: 0.6rem;
        text-align: center;
    }

    .buy-btn {
        font-size: 2rem;
        /* padding: 0.2rem; */
    }

    .footer-text {
        font-size: 2rem;
        padding: 3.5rem;
    }

    .footer-link {
        font-size: 2rem;
    }

}

@media (min-width: 1025px) and (max-width: 1200.99px) {
    
    header {
        width: 100%;
        /* background-color: red; */
    }

    nav {
        gap: 8vw;
    }

    .menu {
        font-size: 3rem;
        margin-top: 10%;
    }

    .restaurant-name {
        font-size: 2.5rem;
    }

    #hero-text, .categories-text {
        font-size: 2rem;
    }

    .about-us {
        font-size: 1.5rem;
        padding: 2rem;
    }

    .veg-div {
        top: 140vh;
        left: 15vw;
    }

    .non-veg-div {
        top: 185vh;
        left: 15vw;
    }

    #hero-div {
        padding: 1rem;
    }

    .categories-div {
        width: 35vw;
        padding: 1rem;
    }


    .about-us, .item-text {
        font-size: 3rem;
    }

    .about-heading, .heading {
        font-size: 4.5rem;
    }

    .about-us {
        padding: 4rem;
    }

    .dropdown-text {
        font-size: 1.5rem;
    }

    hr {
        margin-bottom: 0.8rem;
    }

    .main-text {
        font-size: 3.5rem;
        padding: 4rem 4rem 1rem 4rem;
    }

    #product-collection {
        gap: 4rem;
        padding: 4rem;
    }

    .products {
        height: 95vh;
        padding: 3rem;
    }

    .img-container {
        height: 50vh;
    }

    .name, .price {
        font-size: 2rem;
    }

    .name {
        padding: 0.6rem;
        font-weight: bold;
    }

    .price {
        padding: 0.6rem;
        text-align: center;
    }

    .buy-btn {
        font-size: 3rem;
        /* padding: 0.2rem; */
    }

    .footer-text {
        font-size: 3rem;
        padding: 4rem;
    }

    .footer-link {
        font-size: 3rem;
    }
}