
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    padding: 0;
    margin: 0;
    /* background-color: #fadadd; */
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* #c2f2e4 */
/* #35c8b4 */
/* #edf7be */
/* #a4cf4a */


@import url('https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



.main-container {
    width: 80%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #35c8b4, #edf7be, #a4cf4a);
    /* border: 0.5rem solid #fcd0cf; */
    border-radius: 5%;
    padding: 4rem;
}


.img-container {
    width: 70vw;
    height: 70vh;
}

img, video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}

  .slider {
    position: relative;
    width: 70%;
    height: 70%; /* adjust as you like */
    margin: auto;
    overflow: hidden;
  }


.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
  }

  .slides img {
    width: 100%;
    min-height: 100%;
    flex-shrink: 0;
  }


  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 100vh;
    gap: 60vw;
    /* margin-top: 10px; */
  }


.right, .left {
    font-size: 4rem;
    /* background-color: white; */
    border: white;
    z-index: 10;
    cursor: pointer;
    color: #103732;
}

.right {
    background-color: #96e1ba;
}

.left {
    background-color: #deefa6;
}


.name, .price, select, label {
    color: #103732;
    font-size: 2.5rem;
    font-family: "Intel One Mono", monospace;
    font-display: swap;
}

select:hover, option:hover {
    background-color: #103732;
    color: white;

}

.selector {
    display: flex;
    margin-right: 1vw;
}

.name, label {
    padding: 0.6rem;
    font-weight: bold;
}

.price {
    padding: 0.6rem;
    text-align: center;
}

.buy-btn {
    color: #a4cf4a;
    /* border: 0.5rem solid #422101; */
    background-color: #103732;
    font-size: 3rem;
    padding: 1rem;
    margin: 2rem;
    border-radius: 3rem;
}

footer {
    /* background: linear-gradient(135deg, #35c8b4, #edf7be, #a4cf4a); */
    background: linear-gradient(135deg, #a4cf4a, #edf7be, #35c8b4);
    height: 40%;
    width: 100%;
    text-align: center;
    font-size: 4rem;
    color: #103732;
}

.footer-text {
    font-family: "Intel One Mono", monospace;
    font-display: swap;
    font-size: 3rem;
    padding: 4.5rem;
}

.footer-link {
    font-family: "Intel One Mono", monospace;
    font-display: swap;
    font-size: 3rem;
}

.footer-link:visited {
    color: #103732;
}


/* for Mobile Phones */

@media (max-width: 540.99px) {
    
    .main-container {
        width: 85vw;
        /* height: 90vh; */
        height: auto;
        padding: 1rem;
    }

    .name, .price, label, select {
        font-size: 1.4rem;
    }

    .name, .label {
        padding: 1rem;
    }

    .buy-btn {
        font-size: 1.4rem;
    }

    .img-container {
        width: 70vw;
        height: 40vh;
    }

    main {
        padding: 2rem;
    }

    .buttons {
        gap: 60vw;
        top: 65vh;
    }

    .right, .left {
        font-size: 2.5rem;
    }

}

@media (min-width: 541px) and (max-width: 767.99px) {

    .main-container {
        width: 100%;
        height: 140vh;
        padding: 2rem;
    }

    .name, .price, label, select {
        font-size: 1.4rem;
    }

    .name {
        padding: 1rem;
    }

    .buy-btn {
        font-size: 1.4rem;
    }

    .img-container {
        width: 70vw;
        height: 70vh;
        margin: 0;
    }

    main {
        padding: 2rem;
    }

    .buttons {
        gap: 70vw;
        top: 90vh;
    }

    .right, .left {
        font-size: 3rem;
    }

}


@media (min-width: 768px) and (max-width: 1024.99px) {

    
    .main-container {
        width: 100%;
        height: 170vh;
        padding: 2rem;
    }

    .name, .price, label, select {
        font-size: 2.5rem;
    }

    .name {
        padding: 2rem;
    }


    .buy-btn {
        font-size: 2.5rem;
    }

    .img-container {
        width: 80vw;
        height: 100vh;
        margin: 0;
    }

    main {
        padding: 3rem;
    }

    .buttons {
        gap: 80vw;
        top: 90vh;
    }

    .right, .left {
        font-size: 4rem;
    }
}

@media (min-width: 1025px) and (max-width: 1200.99px) {

    .item-text {
        font-size: 3.5rem;
    }

    .main-container {
        width: 100%;
        height: 170vh;
        margin: 2.5rem;
    }

    .name, .price, label, select {
        font-size: 2.5rem;
    }

    .name {
        padding: 2rem;
    }


    .buy-btn {
        font-size: 2.5rem
    }

    .img-container {
        width: 70vw;
        height: 100vh;
    }

    main {
        padding: 3rem;
    }

    .buttons {
        gap: 70vw;
        top: 90vh;
    }

    .right, .left {
        font-size: 4rem;
    }
}