html, body {
    padding: 0;
    margin: 0;
    /* background-color: #fadadd; */
    width: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


header {
    /* background-color: white; */
    height: 40%;
    width: auto;
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, #35c8b4, #edf7be, #a4cf4a);
}

/* #c2f2e4 */
/* #35c8b4 */
/* #edf7be */
/* #a4cf4a */

nav {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 1vw;
}

.menu {
    /* color: #96db05; */
    color: #718f30;
    font-size: 3rem;
}

#menu {
    padding: 15%;
    width: 10%;
}

.items {
    width: 100vw;
    margin: 5%;
    padding-left: 15vw;
    color: #5C2E00;
    display: flex;
    align-items: center;
    justify-content: left;
    box-sizing: border-box;
}

#item-collection {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-bottom: 5%;
    z-index: 0;
    width: 100%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.restaurant-name {
    /* color: #02c7ac; */
    color: #317067;
    font-family: "Intel One Mono", monospace;
    font-display: swap;
    font-size: 4rem;
}

.logo {
    display: flex;
    align-self: left;
}

a {
    text-decoration: none;
}

.active {
  font-weight: bold;
}

.dropdown-text {
    font-family: "cormorant garamond", "playfair display", "libre baskerville", sans-serif;
    color: #5C2E00;
    padding: 0.5rem;
    z-index: 1;
}

a .div {
    z-index: 1;
}

.dropdown {
    height: auto;
    max-height: 20vh;
    width: 25%;
}

#dropdown-section {
    height: auto;
    width: 20vw;
    background-color: #a5e0fe;
    font-size: 1.5rem;
    margin-left: 2vw;
    margin-top: -2vh;
    position: absolute;
    z-index: 10;
    border-radius: 1rem;
    padding-left: 1rem;
    display: none;
}

.main-hr {
    background-color: #a5e0fe;
    border: none;
    height: 2px;
}

.menu-hr {
    border: none;
    height: 2px;
    /* background-color: #abdaf2f7; */
    background-color: #FF6E91;
    margin-bottom: 1rem;
    padding-left: 0;
} 

#hero-img {
    width: 80vw;
    height: 80vh;
    object-fit: cover;
    display: flex;
    margin: 5vh auto;
}

#hero-div {
    background: linear-gradient(45deg, #35c8b4c7, #96db05d4);
    /* display: block; */
    width: 40vw;
    position: absolute;
    z-index: 1;
    top: 60vh;
    margin-left: 30vw;
    border-radius: 1rem;
}

#hero-text {
    font-family: "Intel One Mono", monospace;
    font-display: swap;
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    color: #103732;
}

.categories {
    width: 80vw;
    height: 40vh;
    object-fit: cover;
}
